<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet Plan</title>
    <link rel="stylesheet" href="/css/bmi_style.css">
    <script src="/js/bmi_script.js" defer></script>
</head>
<body onload="updateDietChart()">
    <div class="container diet-exercise">
        <h1>Diet Plan</h1>
        <section id="diet-section">
          <div id="diet-chart"></div>
          <div class="food-images"></div>
        </section>
        <div class="button-container">
          <button onclick="location.href='/'">Back to BMI</button>
          <button id="non-veg-button" onclick="showDietSection('non-veg')" style="display: none;">Non-Veg Diet Plan</button>
          <button id="veg-button" onclick="showDietSection('veg')" style="display: none;">Veg Diet Plan</button>
          <button onclick="location.href='/exercise'">Go to Exercises</button>
        </div>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          const dietType = localStorage.getItem('dietType');
          if (dietType === 'veg') {
            document.getElementById('non-veg-button').style.display = 'block';
          } else if (dietType === 'non-veg') {
            document.getElementById('veg-button').style.display = 'block';
          }
        });
      </script>
</body>
</html>

const firebaseConfig = {
  apiKey: "AIzaSyCptU5KpNLCEQeVoxrDEfeAjlC8PES4o2o",
  authDomain: "bmi-bot-f13d5.firebaseapp.com",
  projectId: "bmi-bot-f13d5",
  storageBucket: "bmi-bot-f13d5.firebasestorage.app",
  messagingSenderId: "34818426717",
  appId: "1:34818426717:web:880ae347871606140acab4",
  databaseURL: "https://bmi-bot-f13d5-default-rtdb.firebaseio.com/",
};
