<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet Plan</title>
    <link rel="stylesheet" href="/css/bmi_style.css">
    <script src="/js/bmi_script.js" defer></script>
</head>
<body onload="updateDietChart()">
    <div class="container diet-exercise">
        <h1>Diet Plan</h1>
        <section id="diet-section">
          <div id="diet-chart"></div>
          <div class="food-images"></div>
        </section>
        <button onclick="location.href='/'">Back to BMI</button>
        <button onclick="location.href='/exercise'">Go to Exercises</button>
      </div>
</body>
</html>
