<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Plan</title>
    <link rel="stylesheet" href="/css/bmi_style.css">
    <script src="/js/bmi_script.js" defer></script>
</head>
<body onload="updateExerciseChart()">
    <div class="container diet-exercise">
        <h1>Exercise Plan</h1>
        <section id="exercise-section">
          <div id="exercise-chart"></div>
          <div class="exercise-images"></div>
        </section>
        <div class="button-container">
          <button onclick="location.href='/'">Back to BMI</button>
          <button onclick="showDietSection('veg')">Veg Diet Plan</button>
          <button onclick="showDietSection('non-veg')">Non-Veg Diet Plan</button>
        </div>
      </div>
</body>
</html>
<!-- <img src="../images/Avocado image.png" alt="" srcset=""> -->