@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

:root {
  --underweight: orange;
  --normal: green;
  --overweight: lightcoral;
  --obese: crimson;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Jost", sans-serif;
}

body {
  background: #004d4d;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.container {
  margin-block: 1.5rem;
  width: min(480px, 90%);
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  display: grid;
  gap: 1rem;
}

.calculator {
  display: flex;
  flex-direction: column;
}

.calculator > *:not(:last-child) {
  margin-bottom: 1rem;
}

.calculator div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.calculator label {
  flex: 0 0 120px;
  font-weight: 600;
}

.calculator input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  outline-color: #555;
  font-size: 1.25rem;
  text-align: center;
}

.calculator button {
  width: 100%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 10px;
  background: #00a1a3;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  font-size: 0.875rem;
}

.calculator button[type="reset"] {
  background: #444;
}

.calculator button:hover {
  filter: brightness(120%);
}

.output {
  text-align: center;
}

.output #bmi {
  font-size: 4rem;
}

.output #desc strong {
  text-transform: uppercase;
}

.bmi-scale {
  display: flex;
}

.bmi-scale div {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  border-top: 5px solid var(--color);
  padding: 10px;
}

.bmi-scale h4 {
  font-size: 0.75rem;
  color: slategray;
}

@media (max-width: 480px) {
  .bmi-scale {
    flex-direction: column;
  }
  .bmi-scale div {
    padding: 4px 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 5px solid var(--color);
  }

  .bmi-scale div:last-child {
    border-bottom: 1px solid #eee;
  }

  .bmi-scale h4 {
    width: 120px;
    text-align: start;
  }

  .bmi-scale p {
    font-size: 0.875rem;
    margin-left: auto;
  }
}

.underweight {
  color: var(--underweight);
}

.healthy {
  color: var(--normal);
}

.overweight {
  color: var(--overweight);
}

.obese {
  color: var(--obese);
}

#bot-interface {
  margin-top: 20px;
  text-align: center;
}

#bot-text {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

#bot-options button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #00a1a3;
  color: #fff;
  transition: background-color 0.3s;
}

#bot-options button:hover {
  background-color: #008a8c;
}

.food-images img, .exercise-images img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  border-radius: 5px;
}

@media (max-width: 480px) {
  .food-images img, .exercise-images img {
      width: 100%;
  }
}

.container.diet-exercise {
  width: 70vw;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-description {
  font-size: 1rem;
  color: #555;
}

.food-images, .exercise-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 768px) {
  .food-images, .exercise-images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .food-images, .exercise-images {
    grid-template-columns: 1fr;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.button-container button {
  flex: 1;
  min-width: calc(25% - 10px);
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #00a1a3;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  font-size: 0.875rem;
}

.button-container button:hover {
  filter: brightness(120%);
}

#chatbot-tag button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #00a1a3;
  color: #fff;
  transition: background-color 0.3s;
}
